.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", incidents_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_incident_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", incident_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.incident.category_id", :default => t("activerecord.labels.category_id", :default => "Category"))
          \:
        = Category.find(@incident.category_id).to_string if @incident.category_id
        = "--" unless @incident.category_id
      - if @incident.supplier_id
        %p
          %b
            = t("activerecord.attributes.incident.supplier_id", :default => t("activerecord.labels.supplier_id", :default => "Supplier"))
            \:
          = Supplier.find(@incident.supplier_id).to_string if @incident.supplier_id
          = "--" unless @incident.supplier_id
      - if @incident.storage_id
        %p
          %b
            = t("activerecord.attributes.incident.storage_id", :default => t("activerecord.labels.storage_id", :default => "Storage"))
            \:
          = Storage.find(@incident.storage_id).to_string if @incident.storage_id
          = "--" unless @incident.storage_id
      - if @incident.store_id
        %p
          %b
            = t("activerecord.attributes.incident.store_id", :default => t("activerecord.labels.store_id", :default => "Store"))
            \:
          = Store.find(@incident.store_id).to_string if @incident.store_id
          = "--" unless @incident.store_id
      - if @incident.office_id
        %p
          %b
            = t("activerecord.attributes.incident.office_id", :default => t("activerecord.labels.office_id", :default => "Office"))
            \:
          = Office.find(@incident.office_id).to_string if @incident.office_id
          = "--" unless @incident.office_id
      %p
        %b
          - if @incident.resolution.size == 0
            Unresolved incident
      %p
        %b
          = t("activerecord.attributes.incident.description", :default => t("activerecord.labels.description", :default => "Description"))
          %br
        = @incident.description
      - if @incident.resolution.size > 0
        %p
          %b
            = t("activerecord.attributes.incident.resolution", :default => t("activerecord.labels.resolution", :default => "Resolution"))
            %br
          = @incident.resolution
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_incident_path(@incident), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), incident_path(@incident), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
